* {
    --cor-primaria: #5eb3c3;
    --cor-secundaria: #444644;
    --cor-fundo: #e6e7e8;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}



/* ------CABECALHO------- */
header{
    background: var(--cor-primaria);
}
/* 
.container{
    width: 1600px;
    margin: 0 auto;
} */

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.cabecalho-logo img{
    width: 300px;
}

.cabecalho nav{
    display: flex;
    gap: 50px;
    font-size: 25px;
}

.cabecalho nav a{
    color: #fff;
}

.cabecalho-conteudo div{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: #fff;
}

.img-principal{
    display: flex;
    align-items: flex-end;
}
.cabecalho-conteudo img{
    width: 400px;
}

.cabecalho-conteudo div h1{
    font-size: 4.3rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.cabecalho-conteudo div p{
    font-size: 0.9rem;
    font-weight: lighter;
}

/* ------mini seção------- */
.mini-section{
    background: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #fff;
}

.mini-section h1, .best h1{
    font-size: 3.1rem;
    letter-spacing: 2px;
    padding: 15px;
}

.mini-section p, .best p{
    font-size: 1.3rem;
}

/* ------CARDS------- */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 20px;
}

.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--cor-secundaria);
    text-align: center;
}

.card h2{
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.card img{
    width: 150px;
}

.card div{
    height: 220px;
    display: flex;
    align-items: center;
}

.card:nth-child(2) img{
    width: 220px;
}
.card:nth-child(2) h2{
    color: var(--cor-primaria);
}

/* ------CARDS 2------- */
.best{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--cor-secundaria);
}

.best img{
    width: 350px;   
}

.best .cards{
    margin-top: 60px;
    margin-bottom: 60px;
}

/* ------Cards Team------- */
.cards-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    padding: 100px;
    text-align: center;
}

.card-team{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    color: var(--cor-secundaria);
}

.card-team h2{
    font-size: 2.1rem
}

.card-team p{
    font-size: 1.25rem;
}

.card-team-img img{
    width: 300px;
    
}

.card-team-img{
    position: relative;
}


.icone-card img{
    position: absolute;
    width: 100px;
    right: 0;
    bottom: 0;
}

/* -----Beaultiful ------- */
.beautiful{
    background: var(--cor-fundo);
    display: flex;
    justify-content: center;
    padding: 100px;
    color: var(--cor-secundaria);
}

.beautiful-conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beautiful-conteudo h1{
    font-size: 2.5rem;
}

.beautiful-conteudo p{
    font-size: 1.8rem;
    max-width: 800px;
}

.beautiful-imgs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    width: 100%;
    background-color: var(--cor-terciaria);
    padding: 100px 50px;
  }
  
  .sec-4-col1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .sec-4-col2 {
    width: 50%;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .sec-4-col2 .row-1,
  .row-2 {
    display: flex;
    gap: 20px;
  }
  
  .footer .footer-row1 {
    background-color: var(--cor-secundaria);
    padding: 30px 50px;
    color: white;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer .footer-row1 .footer-col1,
  .footer-col2,
  .footer-col3 {
    width: 30%; /* 100 / 3 = 33.3*/
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-title {
    font-size: 1.3rem;
  }
  
  .footer-col2 > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-col2 .contact-address,
  .contact-phone,
  .contact-email {
    display: flex;
    gap: 20px;
  }
  
  .footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
  }
  
  .footer .footer-row2 {
    padding: 20px 50px;
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    font-weight: bold;
  }
  